[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison
[submodule "themes/hermit-v2"]
	path = themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
	branch = main
